.settingsBack{
	-fx-background: #FFFFFF;
}

.settingsHeader{
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-padding: 8,8,8,8;

}

.multiChoice{
	-fx-font-size: 18;
	-fx-padding: 8,8,8,8;

}

.singleChoice{
	-fx-font-size: 18;
	-fx-padding: 8,8,8,8;

}

.numbers{
	-fx-font-size: 18;
	-fx-padding: 8,8,8,8;

}